*{
  margin:0;
  padding:0
}
.glavnidiv{
    padding-top: 20px;
    background-image: url("http://getwallpapers.com/wallpaper/full/b/0/5/112154.jpg");
    background-attachment: fixed;
    background-position: center;
    
}
.opste{
  text-align: center;
  color: white
}

.pretraga{
  padding-left: 38%;
  padding-bottom: 40px;
}

.navigacija{
  margin-left: 45%;
  display: inline-flex;
  padding-bottom: 20px;
}
.opsirnije{
  color: white;
  padding-bottom: 2px;
}
.ct{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.tt{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 150px;
}
.dugmectit{
  display: flex;
  padding-left: 33%;
  padding-top: 40px;
}
.dugmect{
  margin-right:120px;
  background:none;
  color: white;
}
.dugmett{
  background:none;
  color: white;
}
.login{
  width: 100vw;
  height: 100vh;
}
.user{
  margin-left:40%;
  height: 30px;
  width: 300px;
  display: block;
  margin-bottom: 20px;
  border-radius: 10px;
}
.pass{
  margin-left: 40%;
  height: 30px;
  width: 300px;
  display: block;
  margin-bottom: 20px;
  border-radius: 10px;
}
.submitbtn{
  height: 34px;
  margin-left: 47.5%;
  border-radius: 10px;
  background: none;
  font-size: larger;
  color: white;
  font-weight: bold;
}
.search{
  margin-left: 15px;
  height: 30px;
  width: 300px;
  background: none;
}

.ispravnipodaci{
  margin-left: 42%;
  padding-bottom: 20px;
}
.homegore{

  color: white;
  margin-right: 35px;
  font-size: larger;
}
.logingore{
  color: white;
  font-size: larger;
}
.filter{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.btnnasvakom{
  margin-left:42%; 
  background: none;
  color: white;
  font-size: 15px;
}
.paragnasvakom{
  color:white;
  font-size: 26px;
  text-align: center;
}
.ufilteruparag{
  margin-bottom: 0px;
  color: white;
  font-size: 24px;
  text-align: center;
  text-decoration: underline white 2px;
}
.ufilterubtn{
  margin-left: 35%;
  background: none;
  color: white;
  font-size: 15px;

}
.divsaslikom{
  margin-top: 15px;
}
.loginforma{
  margin-top: 10%;
  height: 20px;
}
.pocetninaslov{
  margin-left: 35%;
  color:white;
  margin-bottom: 40px;
}
.ispisgreskelog{
  color: white;
}

.divizfiltera{
  padding-bottom: 20px;
}
.greska{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}
.counterterrorist{
  text-align: center;
  font-size: 30px;
  color: white;
  margin-left: 25px;
  margin-bottom: 30px;
}
.terrorist{
  text-align: center;
  font-size: 30px;
  color: white;
  margin-left: 10px;
  margin-bottom: 30px;
}
.divct{
  margin-right: 20px;
}
.divt{
  margin-right: 20px;
}
.home{
  min-height: 100vh;
}